# =====================================
# Virtual Environment
# =====================================

.venv/

# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*.pyo

# =====================================
# Packaging
# =====================================

*.egg-info/
build/
dist/

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# Operating System
# =====================================

.DS_Store
Thumbs.db

# =====================================
# Testing / Coverage
# =====================================
.coverage
htmlcov/
.pytest_cache/