# Virtual environment
.venv/

# Python cache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Compiled Python files
*.pyc

# OS files
.DS_Store
Thumbs.db